<link rel="stylesheet" href="~/css/message/left-container.css" asp-append-version="true" />

<div class="contact-section custom-box-shadow left-container-content">
    <div class="contact-section-header">
        <h2 class="contact-section-title">Messages <span class="contact-count-text">(29)</span></h2>
    </div>
    <div class="contact-section-tabs">
        <button class="active" target="pinned-messages">Pinned</button>
        <button target="all-messages">All Messages</button>
    </div>
    <div class="contact-search-input">
        <input type="text" placeholder="Search">
        <span></span>
    </div>
    <div class="contact-messages-section">
        <div class="contact-section-group show" id="pinned-messages">
            <ul class="contact-messages-list" id="pinned-messages-list">
               @*  <li class="contact-message-item">
                    <div class="contact-profile-container">
                        <img src="/images/jordan.webp" alt="">
                    </div>
                    <div class="contact-preview-container">
                        <p class="contact-fullname">Bessie Cooper</p>
                        <p class="contact-message-preview">Hellow this is just</p>
                    </div>
                    <div class="contact-status-section">
                        <p class="contact-message-time">10:00 PM</p>
                        <div class="active-status"></div>
                    </div>
                </li>
                <li class="contact-message-item">
                    <div class="contact-profile-container">
                        <img src="/images/jordan.webp" alt="">
                    </div>
                    <div class="contact-preview-container">
                        <p class="contact-fullname">Bessie Cooper</p>
                        <p class="contact-message-preview">Hellow this is just</p>
                    </div>
                    <div class="contact-status-section">
                        <p class="contact-message-time">10:00 PM</p>
                        <div class="active-status"></div>
                    </div>
                </li>
                <li class="contact-message-item">
                    <div class="contact-profile-container">
                        <img src="/images/jordan.webp" alt="">
                    </div>
                    <div class="contact-preview-container">
                        <p class="contact-fullname">Bessie Cooper</p>
                        <p class="contact-message-preview">Hellow this is just</p>
                    </div>
                    <div class="contact-status-section">
                        <p class="contact-message-time">10:00 PM</p>
                        <div class="active-status"></div>
                    </div>
                </li> *@
            </ul>
        </div>
        <div class="contact-section-group" id="all-messages">
            <ul class="contact-messages-list">
                <li class="contact-message-item">
                    <div class="contact-profile-container">
                        <img src="/images/jordan.webp" alt="">
                    </div>
                    <div class="contact-preview-container">
                        <p class="contact-fullname">Bessie Cooper</p>
                        <p class="contact-message-preview">Hellow this is just</p>
                    </div>
                    <div class="contact-status-section">
                        <p class="contact-message-time">10:00 PM</p>
                        <div class="active-status"></div>
                    </div>
                </li>
                <li class="contact-message-item">
                    <div class="contact-profile-container">
                        <img src="/images/jordan.webp" alt="">
                    </div>
                    <div class="contact-preview-container">
                        <p class="contact-fullname">Bessie Cooper</p>
                        <p class="contact-message-preview">Hellow this is just</p>
                    </div>
                    <div class="contact-status-section">
                        <p class="contact-message-time">10:00 PM</p>
                        <div class="active-status"></div>
                    </div>
                </li>
                <li class="contact-message-item">
                    <div class="contact-profile-container">
                        <img src="/images/jordan.webp" alt="">
                    </div>
                    <div class="contact-preview-container">
                        <p class="contact-fullname">Bessie Cooper</p>
                        <p class="contact-message-preview">Hellow this is just</p>
                    </div>
                    <div class="contact-status-section">
                        <p class="contact-message-time">10:00 PM</p>
                        <div class="active-status"></div>
                    </div>
                </li>
                <li class="contact-message-item">
                    <div class="contact-profile-container">
                        <img src="/images/jordan.webp" alt="">
                    </div>
                    <div class="contact-preview-container">
                        <p class="contact-fullname">Bessie Cooper</p>
                        <p class="contact-message-preview">Hellow this is just</p>
                    </div>
                    <div class="contact-status-section">
                        <p class="contact-message-time">10:00 PM</p>
                        <div class="active-status"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>