<link rel="stylesheet" href="~/css/message/right-container.css" asp-append-version="true" />

<div class="right-container-content messagebox-section custom-box-shadow">
    <div class="messagebox-header custom-box-shadow">
        <div class="messagebox-header-img-container">
            <img src="/images/jordan.webp" alt="">
        </div>
        <div class="messagebox-header-contact-container">
            <p class="contact-fullname">Bessie Cooper</p>
            <p class="contact-message-preview">Hellow this is just</p>
        </div>
    </div>
    <div class="messagebox-body">
        <ul class="message-list">
            <li class="message-item current-user">
                <div class="message-item-profile">
                    <img src="/images/jordan.webp" alt="">
                </div>
                <div class="message-text-container">
                    <p class="contact-fullname">You</p>
                    <p class="message-text">Hello This is just a message</p>
                </div>
            </li>
            <li class="message-item">
                <div class="message-item-profile">
                    <img src="/images/jordan.webp" alt="">
                </div>
                <div class="message-text-container">
                    <p class="contact-fullname">Michael Jordan</p>
                    <p class="message-text">Hello This is just a message</p>
                </div>
            </li>
        </ul>
        <div class="messagebox-input custom-box-shadow">
            <textarea type="text" placeholder="Type Your Message..."></textarea>
            <div class="messagebox-actions">
                <div class="attachment-btn icon">
                    <img src="/icons/paperclip.svg" alt="">
                </div>
                <div class="send-btn icon">
                    <img src="/icons/send.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>